# Ignore sensitive configuration files and credentials
.env
config.toml
docker-compose.override.yml

# Ignore virtual environments
venv/

# Ignore Docker volumes and data
data/
postgres_data/
logs/
subgraph/

# Ignore real contract files but allow placeholders
contracts/contract.abi.json

# Ignore Ruff
.ruff_cache/
/tests/__pycache__
/src/utils/__pycache__
/src/models/__pycache__
.coverage
